body {
  background-color: black;
  text-align: center;

  font-family: sans-serif;
  font-size: 9pt;

  color: #fff;

}

#tooltip {
  font-weight: 300;
  /*text-shadow: 0px 0px 0px white;*/
  fill: red;
  stroke: none;
}

#details {
  text-align: left;
}

path.district {
  fill: #dddddd;
  stroke: white;
  stroke-width: 1.1px;
}

.active {
  stroke: red !important;
  stroke-width: 1.5px !important;
}

/*circle.symbol {
  fill-opacity: 0.6;

  stroke: white;
  stroke-width: 1px;
  }*/

.xaxis path{
  stroke: none;
  /*font-size: 16px;*/
  fill: none;
}

.axis path,
.axis line,
.legend  {
  stroke: #bbbbbb;
  fill: none;
}

  .cell {
    stroke: white;
    stroke-width: 1px;
  }
  svg#bars .axis{
    fill: white;
  }

  svg#heatmap .axis{
    fill: lightgray;
  }
  #legend .xaxis{
    fill: white;
  }
  .legend {
    fill: blue;
  }
